<div class="co">
<div class="container">
  <br>
  <h1 style="color:darkblue;text-align: center;">Your total amount is {{totalPrice(cart)|currency:'INR':'symbol':'3.0'}}</h1>
<br><br>
  <div class="row header"   >
    <div class="col-sm" >
      <h2 >Product Image</h2>
    </div>
    <div class="col-sm">
      <h2>Product Name</h2>
    </div>
    <div class="col-sm">
      <h2>Quantity</h2>
    </div>
    <div class="col-sm">
      <h2>Price</h2>
    </div>
    <div class="col-sm">
      <h2>Remove item</h2>
    </div>
  </div>
  <hr>
  <div class="container" *ngFor="let item of cart">
    <div class="row">
      <div class="col-sm">
        <img src={{item.img}}>
      </div>
      <div class="col-sm">
        <h3> {{item.pname}}</h3>
      </div>
      <div class="col-sm">
        <h3> {{item.quantity}}</h3>
      </div>
      <div class="col-sm">
        <h3> {{item.price}}</h3>
      </div>
      <div class="col-sm">
        <div>{{item.totalPrice}}</div>
        <button class="btn btn-danger " (click)="delete(item)"><i class="fa-solid fa-trash"></i></button>
      </div>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <a class="btn btn-dark m-3" (click)="onClick()">Shop More</a>
      <a class="btn btn-dark m-3" href="https://rzp.io/i/kzB2lbne" style="float: right; position: relative; left: 350px;" target="_blank" >CheckOut</a>
    </div>
    <div class="col-lg-5">
      <div>
        <h3>Total: {{totalPrice(cart)|currency:'INR'}}</h3>
      </div>
    </div>
    <div class="col" >

    </div>

  </div>
</div>
</div>
