input {
  width: 90%;
  margin-left: 20px;
}

label {
  margin-left: 20px;
  color:midnightblue;
}

form {
  padding: 20px;
  background-color: lavender;
  margin-left: 140px;
  margin-top: 100px;
  width: 50%;
  border-style: inset;
  box-shadow: 5px 5px 5px darkslategrey;
  border-radius: 10px;
  border-color: black;

}
/*
form:hover {
  color: rgb(174, 155, 11);
  background-color: rgb(40, 40, 40);
  transform:scale(1.2);

} */


button {
  margin-left: 100px;
}

span {
  width: 60%;
  margin-left: 100px;
}


h4{
  margin-left: 600px;
}
#error{
  color: red;
}
.btn:hover{
opacity: 0.8;
}
