<div class="footer"><br>
  <h4 style="text-align:center;">Office Locations</h4><br><br>
  <div class="container">
  <div class="row" >
    <div class="col col-4"*ngFor="let c of cont">
  <div class="card  border-secondary mb-3" style="max-width: 18rem;" >
    <div class="card-header" style="color: black; text-align: center;font-weight: bold;">{{c.branch}}</div>
    <div class="card-body text-secondary" style="margin-left:10px;">
      <i class="fa-solid fa-envelope"></i> &nbsp;{{c.mail}}<br>
      <i class="fa-solid fa-phone"></i>&nbsp;{{c.mobile}}<br>

      <p class="card-text">
        <i class="fa-solid fa-address-card"></i>&nbsp; {{c.address}}</p>
    </div>
  </div>
</div>
</div>
</div><hr>
<div style="text-align: center;">
  <h5>Keep in touch</h5>
  <i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;
  <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;
  <i class="fa-brands fa-youtube"></i>&nbsp;&nbsp;
  <i class="fa-brands fa-twitter"></i>
</div>
</div>

