<div class="container">
  <div class="row">
    <div class="col col-2">
      <div class="first">
      <a href="#"><img src="assets/mr1.jpg" href="#" class="i" alt="Avatar" style="width:150px">
      </a><h5 style="margin-left:30px">Loungewear</h5></div>
    </div>

    <div class="col col-2">
      <div class="first">
      <img src="assets/mr2.jpg"  class="i" alt="Avatar" style="width:150px">
      <h5 style="margin-left:30px">T-Shirts</h5></div>
    </div>

    <div class="col col-2">
      <div class="first">
      <img src="assets/mr3.jpg"  class="i" alt="Avatar" style="width:150px">
      <h5>Hoodies & sweats</h5></div>
    </div>

    <div class="col col-2">
      <div class="first">
      <img src="assets/mr4.jpg"  class="i" alt="Avatar" style="width:150px">
      <h5 style="margin-left:30px">Autumn 22</h5></div>
    </div>

    <div class="col col-2">
      <div class="first">
      <img src="assets/mr5.jpg"  class="i" alt="Avatar" style="width:150px">
      <h5 style="margin-left:30px">Footwear</h5></div>
    </div>
  </div>
</div>

