.prodimg{
  height:100px;
  width:150px;
  margin-left:100px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius:10px;

}
/* .table{
  border: 2px;
} */
.navbar-dark{
  margin-top: 20px;
}
.products{
  width: 75%;
 margin-left: 170px;
 padding: 20px;
}

.btn-warning{
  padding: 5px;
  background-color: rgb(27, 126, 126);
  border-color: steelblue;
}
.btn-danger{
margin-top: 12px;
  padding: 5px;
}
#error{
  color:red;
}
.btn-primary{
  background-color: slateblue;
}
.u{
  background-color: royalblue;
}
