
<div class="container">
  <div class="row">
    <div class="col col-2">
      <div class="first">
      <a href="#"><img src="assets/r1.jpg" href="#" class="i" alt="Avatar" style="width:150px">
      </a><h5 style="margin-left:30px">New in</h5></div>
    </div>

    <div class="col col-2">
      <div class="first">
      <img src="assets/r2.jpg"  class="i" alt="Avatar" style="width:150px">
      <h5 style="margin-left:30px">Autumn</h5></div>
    </div>

    <div class="col col-2">
      <div class="first">
      <img src="assets/r3.jpg"  class="i" alt="Avatar" style="width:150px">
      <h5>Coats & jackets</h5></div>
    </div>

    <div class="col col-2">
      <div class="first">
      <img src="assets/r4.jpg"  class="i" alt="Avatar" style="width:150px">
      <h5 style="margin-left:30px">Mom jeans</h5></div>
    </div>

    <div class="col col-2">
      <div class="first">
      <img src="assets/r5.jpg"  class="i" alt="Avatar" style="width:150px">
      <h5 style="margin-left:30px">Going out</h5></div>
    </div>
  </div>
</div>
