input {
  width: 60%;
  margin-left: 100px;

}

label {
  margin-left: 100px;
  color:midnightblue
}

form {
  padding: 10px;
  background-color: lavender;
  margin-left: 360px;
  margin-top: 60px;
  width: 40%;
  border-style: inset;
  box-shadow: 5px 5px 5px darkslategrey;
  border-radius: 10px;
  border-color: black;

}
/*
form:hover {
  color: rgb(174, 155, 11);
  background-color: rgb(40, 40, 40);
  transform:scale(1.2);

} */

button {
  margin-left: 200px;

}

span {
  width: 60%;
  margin-left: 100px;
}
#error{
  color: red;
}
.btn:hover{
  opacity: 0.8;
}
